@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.gradient-background {
  background: linear-gradient(
    var(--degree, 0deg),
    rgba(5, 0, 70, 1) 25%,
    rgba(31, 9, 102, 1) 85%,
    rgba(59, 12, 90, 1) 100%
  );
}

@layer base {
  html {
    font-family: "Bruno Ace", sans-serif;
  }
}